body {
  color: #000;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  color: #334a98;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}
@media (max-width: 980px) {
  h1 {
    font-size: 45px !important;
    font-weight: 700;
  }
}

h2 {
  font-size: 60px !important;
  font-weight: 300;
}

h3 {
  font-size: 30px !important;
  font-weight: 300;
}

h4 {
  font-size: 25px !important;
  font-weight: 300;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.font-sz-16 p {
  font-size: 16px;
}

.font-wt-400 p {
  font-weight: 400;
}

.font-wt-500 p {
  font-weight: 500;
}

.font-wt-600 p {
  font-weight: 600;
}

.txt-white h1,
.txt-white h2,
.txt-white h3,
.txt-white h4,
.txt-white h5,
.txt-white h6,
.txt-white p {
  color: #fff;
}

@media (max-width: 980px) {
  h2 {
    font-size: 30px !important;
    font-weight: 300;
  }
}
/* Container Width */
@media (max-width: 980px) {
  .et_pb_row {
    width: 90%;
  }
}
.w-100 {
  width: 100%;
}

.font-50 h2 {
  font-size: 50px !important;
  font-weight: 300;
}
@media (max-width: 768px) {
  .font-50 h2 {
    font-size: 30px !important;
  }
}

.col-100-h .et_pb_module.et_pb_image {
  display: flex;
  height: 100%;
}
.col-100-h .et_pb_module.et_pb_image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

/* LAYOUT */
.padding-0 {
  padding: 0px !important;
}

@media (max-width: 980px) {
  .m-0-mob {
    margin: 0px !important;
  }
}

.d-flex {
  display: flex;
}

.d-flex-col {
  flex-direction: column;
}

.justify-content--space-between {
  justify-content: space-between;
}

.justify-content--center {
  justify-content: center;
}

/* BUTTONS */
a.btn-primary {
  background-color: #334a98;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  text-align: center;
}
@media (max-width: 980px) {
  a.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 16px;
    width: 100%;
  }
}
a.btn-primary::after {
  display: none;
}
a.btn-primary:hover {
  background-color: #5998df !important;
  color: #fff;
  font-size: 18px;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 10px 40px !important;
}
@media (max-width: 980px) {
  a.btn-primary:hover {
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
  }
}

a.btn-secondary {
  background-color: #f0c032;
  color: #334a98;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  text-align: center;
}
@media (max-width: 980px) {
  a.btn-secondary {
    font-size: 16px;
    padding: 10px 20px;
  }
}
a.btn-secondary:hover {
  background-color: #f3ba11 !important;
  color: #334a98;
  font-size: 18px;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 10px 40px !important;
}
@media (max-width: 980px) {
  a.btn-secondary:hover {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* SERVICES */
.blurb-services h4 {
  font-size: 30px !important;
  letter-spacing: 0.3rem;
  margin-bottom: 10px;
}
@media (max-width: 980px) {
  .blurb-services h4 {
    font-size: 25px !important;
    letter-spacing: 0.2rem;
  }
}
.blurb-services h4 a {
  color: #334a98;
}
.blurb-services h4 a:hover {
  color: #000;
}
.blurb-services a {
  color: #000;
}
.blurb-services a:hover {
  color: #334a98;
}

.service-description h3 {
  font-size: 40px !important;
}
@media (max-width: 980px) {
  .service-description h3 {
    font-size: 30px !important;
  }
}
@media (max-width: 980px) {
  .service-description > div .et_pb_column {
    margin-bottom: 0px !important;
  }
}

/* CTAs */
.cta-fullwidth {
  background-image: url("/wp-content/uploads/2021/12/section-back-blue.jpg");
  padding: 150px 0px !important;
  display: flex;
}
@media (max-width: 980px) {
  .cta-fullwidth {
    padding: 100px 0px !important;
  }
}
@media (min-width: 1300px) {
  .cta-fullwidth > div {
    width: 65%;
  }
}
@media (max-width: 1299px) {
  .cta-fullwidth > div {
    width: 100%;
  }
}
.cta-fullwidth > div > div .et_pb_text_inner {
  text-align: center;
}
@media (max-width: 980px) {
  .cta-fullwidth > div > div .et_pb_text_inner h2 {
    font-size: 40px !important;
  }
}
.cta-fullwidth > div > div {
  text-align: center;
}
.cta-fullwidth > div > div a {
  width: 380px;
}

/* READ MORE Styles */
.morecontent span {
  display: none;
}

.morelink {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #334a98 !important;
}

/* CONTACT FORM */
.contact-background {
  background-color: #000;
}

h2.gform_submission_error {
  font-size: 13.2px !important;
}

.contact-form {
  background-color: #f2f2f2;
  padding: 50px;
}
@media (max-width: 980px) {
  .contact-form {
    padding: 25px;
  }
}
.contact-form h2.gform_title {
  font-size: 30px !important;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  font-family: "Montserrat", sans-serif !important;
}
.contact-form input[type=text] {
  border: 1px solid #707070;
  padding: 12px !important;
  color: #000;
}
.contact-form textarea {
  border: 1px solid #707070;
  color: #000;
}
.contact-form .gform_footer {
  text-align: right;
  margin: 6px 0px 0px 0px !important;
  padding: 16px 0px 0px 0px !important;
}
.contact-form .gform_footer input {
  margin-bottom: 8px;
  background-color: #334a98;
  border: 0;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  color: #fff;
  height: 55px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 980px) {
  .contact-form .gform_footer input {
    width: 100%;
  }
}
.contact-form .gform_footer input:hover {
  background-color: #3b57b6;
}

/* CLIENT PORTAL */
.portal-row-buttons > div {
  text-align: center;
}
.portal-row-buttons > div > div {
  width: 100%;
}

a.btn-portal {
  background-color: #334a98;
  text-align: center;
  border: 0px !important;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 24px !important;
}
a.btn-portal:hover {
  background-color: #3b57b6 !important;
  border: 0px !important;
}

/* USEFUL LINKS */
.useful-links ul {
  color: #334a98;
}
@media (max-width: 980px) {
  .useful-links ul {
    padding-bottom: 0em !important;
  }
}
.useful-links ul li::marker {
  font-size: 30px;
}
.useful-links ul li > a {
  color: #000;
}
.useful-links ul li > a:hover {
  color: #334a98;
}

/* TESTIMONALS CAROUSEL */
.dica_divi_carousel_2.dica_divi_carousel .dica_divi_carouselitem {
  height: -webkit-fill-available;
}

/* Top Bar */
.et_pb_row.top-bar {
  max-width: 100%;
  width: 100%;
  background-color: #334a98;
  padding: 0px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
@media (max-width: 980px) {
  .et_pb_row.top-bar {
    background-color: #d32000;
  }
}
@media (max-width: 980px) {
  .et_pb_row.top-bar .et_pb_column {
    margin-bottom: 0px;
  }
}
.et_pb_row.top-bar .top-bar-col1 {
  display: flex;
  align-items: center;
}

.top-bar > .et-last-child {
  display: flex;
  justify-content: flex-end;
}

.top-bar-contact a.top-bar-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #d32000;
  padding: 5px 20px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
.top-bar-contact a.top-bar-contact:hover {
  background-color: #ad2020;
}
.top-bar-contact a.top-bar-contact::before {
  content: "Contact us: ";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.et_pb_row.top-bar-mobile {
  width: 100%;
  padding: 0;
  margin: 0;
}
.et_pb_row.top-bar-mobile .top-bar-contact a.top-bar-contact {
  width: 100%;
  background-color: #d32000;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}
.et_pb_row.top-bar-mobile .top-bar-contact a.top-bar-contact:hover {
  background-color: #ad2020;
}
.et_pb_row.top-bar-mobile .top-bar-contact a.top-bar-contact::before {
  content: "Contact us: ";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.top-bar-menu {
  padding: 0px 6px;
}
.top-bar-menu a {
  color: #fff;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
}
.top-bar-menu a:hover {
  color: #5998df;
}

a.mobile-toggle {
  display: none !important;
}

.nav li ul {
  border-color: #334a98 !important;
  width: 300px;
}
.nav li ul > li {
  width: 100%;
}
.nav li ul > li:last-child a {
  border-bottom: 1px solid #fff;
}
.nav li ul > li a {
  width: 100%;
  font-size: 14px !important;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 100;
}
.nav li ul > li a:hover {
  background-color: #fff;
  color: #334a98 !important;
  border-bottom: 1px solid #f2f2f2;
}

/* Mobile Menu */
@media (max-width: 980px) {
  ul#mobile_menu1 {
    margin-top: 18px;
  }
  ul#mobile_menu1 a {
    font-weight: 400;
  }
}
/* Main Menu */
@media (min-width: 980px) {
  #menu-primary-menu > li {
    width: 150px;
    display: flex;
    justify-content: center;
  }
  #menu-primary-menu > li a {
    font-size: 17px;
    font-weight: 500;
    color: #000;
  }
  #menu-primary-menu > li a:hover {
    color: #334a98;
    opacity: 1 !important;
  }
}
/* Search Bar */
input.search-box {
  border: 0;
  background-color: transparent !important;
}

.search-box {
  transition: width 0.5s, border-radius 0.5s, background 0.5s, box-shadow 0.5s;
  width: 30px;
  height: 30px;
  margin-top: 2px !important;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  background: transparent !important;
}
.search-box + label .search-icon {
  color: #fff;
}
.search-box:hover {
  color: #fff;
  background: transparent !important;
}
.search-box:hover + label .search-icon {
  color: #fff;
}
.search-box:focus {
  transition: width 0.5s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.5s, background 0.5s;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 250px;
  border-radius: auto;
  background: transparent !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
}
.search-box:focus + label .search-icon {
  color: #fff !important;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -7px;
  color: #fff;
  cursor: pointer;
  top: -25px;
  font-weight: 700;
  font-size: 16px;
  display: block;
}
.search-icon:hover {
  color: #fff;
  background: transparent !important;
}
.search-icon:focus {
  color: #fff;
}

form.search-container {
  height: 35px;
  text-align: right;
  margin-right: 5px;
}

/* MOBILE SEARCH */
.et_pb_menu_0_tb_header.et_pb_menu.mobile-menu {
  margin-bottom: 5px;
}

#flip {
  padding: 5px;
  text-align: right;
  margin-left: auto;
}
#flip.et-pb-icon {
  font-size: 18px !important;
  color: #334a98;
  font-weight: 700;
}

.mobile-search-icon {
  position: absolute;
  right: 30px;
  color: #fff;
  cursor: pointer;
  top: 7px;
  width: 35px;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 980px) {
  .mobile-search-icon {
    top: 18px;
  }
}

#panel {
  padding: 20px;
  display: none;
  background-color: #334a98;
  margin-top: 20px;
}
#panel .mob-search-box form {
  display: flex;
}
#panel .mob-search-box form #s {
  width: 100%;
  border: 1px solid #ffffff;
  padding: 10px 15px;
}
#panel .mob-search-box form #searchsubmit {
  background-color: #d32000 !important;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #d32000;
}

/* Hero Slider */
.hero-slider .et_pb_slide_description,
.hero-slider .et_pb_slider_fullwidth_off .et_pb_slide_description {
  padding: 16% 0%;
}
.hero-slider .et_pb_slide_content h2 {
  font-size: 80px !important;
  font-weight: 700;
  max-width: 600px;
}
.hero-slider .et_pb_slide_content p {
  font-size: 90px;
  color: #f0c032;
  line-height: 4rem;
}
@media (max-width: 980px) {
  .hero-slider .et_pb_slide_content .wordCarousel div li {
    font-size: 55px;
  }
  .hero-slider .et_pb_slide_content p {
    font-size: 60px !important;
    line-height: 2rem;
  }
  .hero-slider .et_pb_slide_content h2 {
    font-size: 50px !important;
  }
}
.hero-slider .et_pb_more_button {
  background-color: #f0c032;
  color: #334a98;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  margin-top: 30px;
}
.hero-slider .et_pb_more_button:hover {
  font-size: 18px;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
}
@media (max-width: 980px) {
  .hero-slider .et_pb_more_button {
    margin-top: 20px;
    font-size: 19px;
    width: 100%;
    height: 67px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .hero-slider .et_pb_more_button::after {
    display: none !important;
  }
  .hero-slider .et_pb_more_button:hover {
    font-size: 19px;
  }
}

/* Testimonials */
.testimonial-carousel .dica-image-container {
  margin-top: -110px;
  padding-bottom: 20px;
}

.testimonial-carousel .swiper-wrapper {
  padding-top: 60px;
}

.testimonial-carousel .dica-image-container img {
  width: 100px;
}

/* Services Section */
@media (max-width: 768px) {
  .home-services--icon {
    display: none;
  }
  .home-services--content h3 {
    display: none;
  }
}

.grid-services {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: -20px;
}
.grid-services p {
  font-size: 18px;
  font-weight: 400;
}
.grid-services h3 {
  font-size: 23px !important;
}

.grid-it-services {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}
.grid-it-services a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.grid-it-services a:hover {
  opacity: 0.7;
}

/* HERO ANIMATED LETTERS */
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: none;
  display: block;
  height: 75px;
  padding-top: 0px;
  margin-top: 10px;
}
@media (max-width: 980px) {
  .wordCarousel div {
    height: 55px;
    padding-top: 0px;
    margin-top: -5px;
  }
}
.wordCarousel div ul {
  margin-left: -25px;
}
.wordCarousel div li {
  font-weight: 300;
  font-size: 70px;
  color: #f0c032;
  line-height: 4rem;
  padding: 0px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}
@media (max-width: 980px) {
  .wordCarousel div li {
    font-size: 45px;
    height: 40px;
  }
}

.flip2 {
  -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/* Footer icons */
.grid-footer-icons {
  display: grid;
  grid-template-columns: 20px 1fr;
}

.footer > .et_pb_row {
  width: 100%;
  max-width: 100%;
}

.footer p {
  font-size: 13px;
  font-weight: 400;
}
.footer .et-pb-icon:hover {
  opacity: 0.7;
}
.footer h4 {
  font-size: 24px !important;
  font-weight: 300;
  line-height: 1.3;
}

@media (min-width: 980px) {
  .footer-left {
    padding-left: 10% !important;
    padding-top: 70px;
  }

  .footer-right {
    padding-right: 10% !important;
    padding-left: 5% !important;
    padding-top: 40px;
  }
}
@media (min-width: 1366px) {
  .footer-left {
    padding-left: calc((100% - 1240px) / 2) !important;
  }

  .footer-right {
    padding-right: calc((100% - 1240px) / 2) !important;
  }
}
/* Mobile Footer Columns Order */
@media (max-width: 768px) {
  .footer-col1 {
    order: 2;
    width: 50% !important;
  }
  .footer-col2 {
    display: none;
  }
  .footer-col3 {
    order: 3;
    width: 50% !important;
  }
  .footer-col4 {
    order: 1;
    padding-bottom: 30px;
    width: 100% !important;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  .footer-col4 {
    padding-top: 30px;
  }
}
/* Footer Menu Services */
.footer-menu-02 {
  background-color: transparent !important;
}
.footer-menu-02 ul {
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-menu-02 ul li {
    padding-bottom: 15px;
  }
}
.footer-menu-02 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.footer-menu-02 .et_pb_menu .et_pb_menu__wrap {
  flex: 0 0 auto;
  margin-left: 30px;
}

.footer-right .et_pb_menu__wrap {
  justify-content: flex-start !important;
}

.footer-menu-01 {
  background-color: transparent !important;
}
.footer-menu-01 .et_pb_menu__wrap {
  margin-left: 0;
  justify-content: flex-start;
}
.footer-menu-01 ul {
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-menu-01 ul li {
    padding-bottom: 15px;
  }
}
.footer-menu-01 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 769px) {
  .et_pb_menu__menu > nav > ul > li.footer-menu-services {
    display: none;
  }
}
.footer-right .et_pb_menu .et_pb_menu__menu {
  display: block;
}

.footer-right a {
  color: #fff;
}
.footer-right a:hover {
  color: #5998df;
}
