/* Footer icons */
.grid-footer-icons{
  display: grid; 
  grid-template-columns: 20px 1fr; 
}

// Footer Column left side full width left background.
.footer > .et_pb_row {
  width: 100%;
  max-width: 100%;
}

.footer {
  p {
    font-size: 12px;
  }
}

@media (min-width: 980px) {
  .footer-left {
    padding-left: 10% !important;
  }

  .footer-right {
    padding-right: 10% !important;
  }
}

@media (min-width: 1366px) {
  .footer-left {
    padding-left: calc((100% - 1240px) / 2) !important;
  }

  .footer-right {
    padding-right: calc((100% - 1240px) / 2) !important;
  }
}
