body {
  color: $textColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontH !important;
  color: $primary;
}


h2{
    font-size: 60px !important;
    font-weight: 200;
}

h3{
    font-size: 30px !important;
    font-weight: 200;
}
p {
  font-family: $fontP;
  font-weight: 200;
}

/* FRONTPAGE */
/* Hero Slider */
.hero-slider {

}