body {
  color: $textColor;
  font-family: $fontP !important;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontH !important;
  color: $primary;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  @media (max-width: 980px) {
    font-size: 45px !important;
    font-weight: 700;
  }
}

h2 {
  font-size: 60px !important;
  font-weight: 300;
}

h3 {
  font-size: 30px !important;
  font-weight: 300;
}
h4 {
  font-size: 25px !important;
  font-weight: 300;
}
p {
  font-family: $fontP;
  font-weight: 300;
  font-size: 18px;
}

.font-sz-16 p {
  font-size: 16px;
}
.font-wt-400 p {
  font-weight: 400;
}
.font-wt-500 p {
  font-weight: 500;
}
.font-wt-600 p {
  font-weight: 600;
}

.txt-white {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 30px !important;
    font-weight: 300;
  }
}

/* Container Width */
@media (max-width: 980px) {
  .et_pb_row {
    width: 90%;
  }
}

.w-100 {
  width: 100%;
}
.font-50 h2 {
  font-size: 50px !important;
  font-weight: 300;
  @media (max-width: 768px) {
    font-size: 30px !important;
  }
}

.col-100-h {
  .et_pb_module.et_pb_image {
    display: flex;
    height: 100%;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}

/* LAYOUT */
.padding-0 {
  padding: 0px !important;
}

.m-0-mob {
  @media (max-width: 980px) {
    margin: 0px !important;
  }
}
.d-flex {
  display: flex;
}
.d-flex-col {
  flex-direction: column;
}
.justify-content--space-between {
  justify-content: space-between;
}
.justify-content--center {
  justify-content: center;
}

/* BUTTONS */
a.btn-primary {
  background-color: $primary;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  text-align: center;
  @media (max-width: 980px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 16px;
    width: 100%;
  }
  &::after {
    display: none;
  }

  &:hover {
    background-color: $primary-variant--light !important;
    color: #fff;
    font-size: 18px;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 10px 40px !important;
    @media (max-width: 980px) {
      font-size: 16px;
      padding: 10px 20px;
      width: 100%;
    }
  }
}
a.btn-secondary {
  background-color: $accent;
  color: $primary;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  text-align: center;
  @media (max-width: 980px) {
    font-size: 16px;
    padding: 10px 20px;
  }

  &:hover {
    background-color: $accent-variant !important;
    color: $primary;
    font-size: 18px;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 10px 40px !important;
    @media (max-width: 980px) {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
}

/* SERVICES */
.blurb-services {
  h4 {
    font-size: 30px !important;
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
    @media (max-width: 980px) {
      font-size: 25px !important;
      letter-spacing: 0.2rem;
    }
    a {
      color: $primary;
      &:hover {
        color: #000;
      }
    }
  }
  a {
    color: #000;
    &:hover {
      color: $primary;
    }
  }
}

.service-description {
  h3 {
    font-size: 40px !important;
    @media (max-width: 980px) {
      font-size: 30px !important;
    }
  }
  > div {
    @media (max-width: 980px) {
      .et_pb_column {
        margin-bottom: 0px !important;
      }
    }
  }
}

/* CTAs */

.cta-fullwidth {
  background-image: url("/wp-content/uploads/2021/12/section-back-blue.jpg");
  padding: 150px 0px !important;
  @media (max-width: 980px) {
    padding: 100px 0px !important;
    background-image: linear-gradient(180deg, #001121 0%, #023248 100%);
  }
  display: flex;
  > div {
    @media (min-width: 1300px) {
      width: 65%;
    }
    @media (max-width: 1299px) {
      width: 100%;
    }

    > div .et_pb_text_inner {
      text-align: center;
      @media (max-width: 980px) {
        h2 {
          font-size: 40px !important;
        }
      }
    }
    > div {
      text-align: center;
      a {
        width: 380px;
      }
    }
  }
}

/* READ MORE Styles */

.morecontent span {
  display: none;
}
.morelink {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #334a98 !important;
}

/* CONTACT FORM */
.contact-background {
  background-color: #000;
}
h2.gform_submission_error {
  font-size: 13.2px !important;
}
.contact-form {
  background-color: #f2f2f2;
  padding: 50px;
  @media (max-width: 980px) {
    padding: 25px;
  }
  h2.gform_title {
    font-size: 30px !important;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  input,
  textarea,
  select {
    font-family: $fontP !important;
  }

  input[type="text"] {
    border: 1px solid #707070;
    padding: 12px !important;
    color: #000;
  }

  textarea {
    border: 1px solid #707070;
    color: #000;
  }
  .gform_footer {
    text-align: right;
    margin: 6px 0px 0px 0px !important;
    padding: 16px 0px 0px 0px !important;
    input {
      margin-bottom: 8px;
      background-color: #334a98;
      border: 0;
      padding: 10px;
      width: 50%;
      cursor: pointer;
      @media (max-width: 980px) {
        width: 100%;
      }
      color: #fff;
      height: 55px;
      font-size: 18px;
      font-weight: 500;

      &:hover {
        background-color: $primary-variant;
      }
    }
  }
}

/* CLIENT PORTAL */
.portal-row-buttons {
  > div {
    text-align: center;
    > div {
      width: 100%;
    }
  }
}
a.btn-portal {
  background-color: $primary;
  text-align: center;
  border: 0px !important;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 24px !important;

  &:hover {
    background-color: $primary-variant !important;
    border: 0px !important;
  }
}

/* USEFUL LINKS */
.useful-links {
  ul {
    color: $primary;
    @media (max-width: 980px) {
      padding-bottom: 0em !important;
    }

    li::marker {
      font-size: 30px;
    }
    li > a {
      color: #000;
      &:hover {
        color: $primary;
      }
    }
  }
}

/* TESTIMONALS CAROUSEL */
.dica_divi_carousel_2.dica_divi_carousel .dica_divi_carouselitem {
  height: -webkit-fill-available;
}

/* BLOG */

.single-post {
  h1 {
    font-size: 40px;
    @media (max-width: 980px) {
      font-size: 30px !important;
    }
    font-weight: 500;
  }
  img {
    width: 100%;
  }
  article.et_pb_post {
    margin-bottom: 0px !important;
    padding-bottom: 60px !important;
  }
  @media (max-width: 980px) {
    .container {
      padding-top: 25px !important;
    }
  }
}

/* BLOG */
//////////////////////////

.related-posts {
  h2.entry-title {
    font-size: 21px !important;
    a {
      color: $primary;
    }
  }
  .et_pb_image_container {
    margin: 0px !important;
  }
  .et_pb_blog_grid .et_pb_post {
    padding: 0px !important;
  }
  @media (max-width: 980px) {
    .post-content-inner {
      display: none;
    }
  }
}
@media (min-width: 981px) {
  .et_pb_gutters3
    .et_pb_column_4_4
    .et_pb_blog_grid
    .column.size-1of3
    .et_pb_post {
    margin-bottom: 5% !important;
  }
}
/* BLOG - READ MORE BUTTON  */

.et_pb_post a.more-link {
  color: $primary;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  padding-left: 0px;
}

.et_pb_post a.more-link:hover {
  background: transparent;
  color: $primary;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

.et_pb_title_container h1 {
  font-size: 50px;
  padding-bottom: 30px;
  @media (max-width: 980px) {
    font-size: 30px !important;
    font-weight: 800;
  }
}

.blog-featured-post {
  h2.entry-title {
    color: $primary !important;
    font-size: 58px !important;
    @media (max-width: 980px) {
      font-size: 40px !important;
    }
  }
}
.post-image {
  height: 100% !important;
  > div {
    height: 100% !important;
    article {
      height: 100% !important;
      a {
        height: 100%;
      }
    }
  }
  h2.entry-title {
    display: none !important;
  }
  img {
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    object-fit: cover;
  }
  article {
    padding: 0px !important;
    margin: 0px !important;
    a {
      padding: 0px !important;
      margin: 0px !important;
    }
  }
}
@media (min-width: 980px) {
  .related-posts {
    article.et_pb_post {
      min-height: 550px !important;
    }
  }
}
.bg-secondary {
  background-color: $primary !important;
}

.wiz-blog-posts {
  h2 {
    font-size: 25px !important;
  }
}
