/* Top Bar */
.et_pb_row.top-bar {
  max-width: 100%;
  width: 100%;
  background-color: $primary;
  padding: 0px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  @media (max-width: 980px) {
    .et_pb_column {
      margin-bottom: 0px;
    }
  }
  .top-bar-col1 {
    display: flex;
    align-items: center;
  }
}

.top-bar > .et-last-child {
  display: flex;
  justify-content: flex-end;
}
.top-bar-contact a.top-bar-contact {
  width: fit-content;
  background-color: $secondary;
  padding: 4px 20px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;

  &:hover {
    background-color: $secondary-variant;
  }

  &::before {
    content: "Contact us: ";
    width: fit-content;
    height: fit-content;
  }
}

.et_pb_row.top-bar-mobile {
  width: 100%;
  padding: 0;
  margin: 0;

  .top-bar-contact a.top-bar-contact {
    width: 100%;
    background-color: $secondary;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

    &:hover {
      background-color: $secondary-variant;
    }

    &::before {
      content: "Contact us: ";
      width: fit-content;
      height: fit-content;
    }
  }
}
.top-bar-menu {
  padding: 0px 6px;
  a {
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    &:hover {
      color: $primary-variant--light;
    }
  }
}

/* Mobile Menu */
@media (max-width: 980px) {
  ul#mobile_menu1 {
    margin-top: 18px;
    a {
      font-weight: 400;
    }
  }
}

/* Main Menu */

@media (min-width: 980px) {
  #menu-primary-menu > li {
    width: 150px;
    display: flex;
    justify-content: center;
    a {
      font-size: 17px;
      font-weight: 500;
      color: $textColor;

      &:hover {
        color: $secondary;
      }
    }
  }
}
