$primary: #334a98;
$primary-variant: #3b57b6;
$primary-variant--light: #5998df;
$secondary: #d32000;
$secondary-variant: #ad2020;
$accent: #f0c032;
$accent-variant: #f3ba11;
$textColor: #000;
$darkGrey: #222223;
$lightGrey: #f2f2f2;
$fontP: "Montserrat", sans-serif;
$fontH: "Montserrat", sans-serif;
