$primary: #243E90;
$primary-variant:#304ba5;
$primary-variant--light: #5998df;
$secondary: #C32626;
$secondary-variant: #AD2020;
$textColor: #676767;
$darkGrey: #222223;
$lightGrey: #f2f2f2;
$fontFam: 'Oxygen', sans-serif;
$fontH:  'Roboto Condensed', sans-serif;