$primary: #334A98;
$primary-variant:#304ba5;
$primary-variant--light: #5998df;
$secondary: #D32000;
$secondary-variant: #AD2020;
$textColor: #000;
$darkGrey: #222223;
$lightGrey: #f2f2f2;
$fontP: 'Montserrat', sans-serif;
$fontH:  'Montserrat', sans-serif;